---
import Base from '../layouts/base.astro';
---

<Base>
  <main class='flex justify-center items-center h-screen w-screen bg-black'>
    <div class='text-white text-6xl font-semibold'>404</div>
  </main>
</Base>
