---
import PortfolioEntry from '../components/PortfolioEntry';
import Base from '../layouts/base.astro';

const pageTitle = 'Android';

const entries = [
  {
    title: 'Grubby',
    time: '2017',
    description: `My personal project (no longer listed in the App Store because I didn't feel like paying for the Google Places API / updating it) was an app that would get your current location, and then show you places to eat around you one at a time with a brief description, and linked out to the system Maps app to give directions. Built entirely in Java.`,
    imageUrl: '/images/Grubby.webp',
  },
  {
    title: 'Xooker',
    time: '2017',
    description: `This app was the first app in Android I had ever touched. It has a suite of built in Unity games and has coupons to local businesses for playing the games.`,
    imageUrl: '/images/Xooker.webp',
  },
  {
    title: 'EZTurn',
    time: '2017',
    description: `Had a major role in building the skeleton of the Android version of this app before handing it off to another developer for the finish line.`,
    imageUrl: '/images/EZTurn.webp',
  },
  {
    title: 'Built Inspect',
    time: '2022',
    description: `Implemented several native plugins that interacted with the core Ionic app in Kotlin. Such as: storage (with Room DB), custom camera, biometric authentication, etc.`,
    imageUrl: '/images/BuiltInspect.webp',
  },
];
---

<Base>
  <main class='flex justify-center items-center min-h-screen max-w-full h-auto p-4'>
    <div
      class='flex flex-col items-center w-full min-h-full bg-[#1D1C1D] text-white rounded-2xl p-4'
    >
      <h1 class='text-[40px] font-bold'>{pageTitle}</h1>

      {
        entries.map((entry) => {
          return <PortfolioEntry entry={entry} />;
        })
      }
    </div>
  </main>
</Base>
