---
import PortfolioEntry from '../components/PortfolioEntry';
import Base from '../layouts/base.astro';

const pageTitle = 'Web';

const entries = [
  {
    title: 'This Site! (x2)',
    description: `When I initially built this site I used Vite, React, TypeScript and SCSS. I've always been scared of CSS so all these styles were handcrafted by yours truly (hence the simple card design everywhere). After it was live for about 2 months, I heard about a new framework called Astro that was better for performance with static sites, so I converted over and also used TailwindCSS instead of handwriting the SCSS myself.`,
    imageUrl: '/images/icon.webp',
  },
  {
    title: 'Built Inspect',
    description: `My first exposure to a production React app. I was hired at Built for my expertise in mobile development and learned TypeScript and React on the fly which I had barely experienced before then. After a year of working on this app I am now very comfortable with React and TypeScript.`,
    imageUrl: '/images/BuiltInspect.webp',
  },
  {
    title: 'Ionic',
    description: `Ionic is great... If your app doesn't require native interaction. I think the concept of cross platform apps is really great, but the actual large scale implementation of it is just not there yet and at the moment native app development is far superior in my opinion.`,
    imageUrl: '/images/Ionic.webp',
  },
  {
    title: 'NestJS',
    description: `I've always loved the thought of doing backend, and I finally got the chance to do it. The main API the Built Inspect app works with is in NestJS/TypeScript. I've had enough exposure to it to elect this as my API framework if I ever need an API for a side project or need to recommend to other back end developers.`,
    imageUrl: '/images/NestJS.webp',
  },
];
---

<Base>
  <main class='flex justify-center items-center min-h-screen max-w-full h-auto p-4'>
    <div
      class='flex flex-col items-center w-full min-h-full bg-[#1D1C1D] text-white rounded-2xl p-4'
    >
      <h1 class='text-[40px] font-bold'>{pageTitle}</h1>

      {
        entries.map((entry) => {
          return <PortfolioEntry entry={entry} />;
        })
      }
    </div>
  </main>
</Base>
