---
import '../style/global.scss';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Matt Dunbar</title>

    <meta name='color-scheme' content='light dark' />
    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=yes'
    />
    <meta name='format-detection' content='telephone=no' />
    <meta name='msapplication-tap-highlight' content='no' />
    <meta name='description' content="Matt Dunbar's Portfolio Site" />

    <!-- Icons -->
    <link rel='manifest' href='/manifest.json' />
    <link rel='icon' type='image/webp' href='/images/icon.webp' />
    <link rel='shortcut icon' type='image/png' href='/images/favicon.png' />

    <!-- OpenGraph -->
    <meta property='og:title' content='Matt Dunbar' />
    <meta property='og:url' content='https://mattdunbar.io' />
    <meta property='og:description' content="Matt Dunbar's resume site." />
    <meta property='og:image' content='/images/icon.webp' />

    <!-- Apple/iOS specific -->
    <link rel='apple-touch-icon' href='/images/icon.webp' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-title' content='Matt Dunbar' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
    <meta name='theme-color' content='#000000' />
  </head>

  <body class='h-full max-w-[1080px] m-auto p-0'>
    <slot />
  </body>
  <script>
    import { firebaseInit } from '../utils/firebase';
    firebaseInit();
  </script>
</html>
